// medidas
xs-max = 767px
sm-min = 768px
sm-max = 991px
md-min = 992px
md-max = 1199px
arr-mil-cincuenta = 1050px
lg-min = 1200px

gr-min = 1600px
sg-min = 1920px


@media(min-width: 1200px)
	#modal_postulaciones
		.modal-dialog
			width 80%
			
@media(max-width: 1199px)
	#modal_postulaciones
		.modal-dialog
			width 98%