@media( min-width: 1200px) {
  #modal_postulaciones .modal-dialog {
    width: 80%;
  }
}
@media( max-width: 1199px) {
  #modal_postulaciones .modal-dialog {
    width: 98%;
  }
}

.display th {
	font-size: 14px;
	font-weight: 100 !important;
	color: rgb(50, 55, 60);
}

.display td {
	color: rgb(85, 85, 85);
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.buttons-print {
	margin-left: 5px;
}

.noleido td {
	font-weight: bold !important;
	color: #333 !important;
}